<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Owl Info</title>
</head>
<body>
    
        <a href="/owls/<%= owl.id %>" ><%= owl.name %></a>
        <p><%= owl.age %></p>
        <p><%= owl.color %></p>
        <p><%= owl.length %></p>

</body>
</html>